<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojo Info</title>
</head>
<body>
<div class="container">

    <table class="info">

        <tbody>
        <tr>
            <td><p>Name:</p></td>
            <td>{{ name }}</td>
        </tr>

        <tr>
            <td><p>Dojo Location:</p></td>
            <td>{{ location }}</td>
        </tr>

        <tr>
            <td><p>Favourite Language:</p></td>
            <td>{{ favlang }}</td>
        </tr>

        <tr>
            <td><p>Comment:</p></td>
            <td>{{ comment }}</td>
        </tr>

        </tbody>
    </table>

    <div class="textbut">
        <form action="/" method="post">
            <input style="display: block;" name="goback" id="goback" type="submit" value="Go Back">
        </form>
    </div>


</div>
</body>
</html>
