<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Are you sure you wasnt to delete the following course?</h1>
    <p>Name : {{ course.name }} </p>
    <p style="word-break: break-word; width: 400px;">Description: {{ course.description }} </p>
    <a class="btn  btn-dark" href="/">No</a>
    <a class="btn btn-danger" href="/courses/remove/{{ course.id }}">Yes! I want to delete this course</a>
</div>
</body>
</html>