<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authors_style.css' %}">
</head>

<body>

<div class="container">

    <form action="#" method="post" class="formgrid">
        <h2 class="cell1">Add an Author</h2>
        <label for="first_name" class="label1">First Name</label>
        <input class="input1" type="text" name="first_name" id="first_name" required>

        <label for="last_name" class="label2">Last Name</label>
        <input class="input2" type="text" name="last_name" id="last_name" required>

        <label for="notes" class="label3">Notes </label>
        <textarea class="input3" name="notes" id="notes" required></textarea>

        <input class="buttonadd" type="submit" value="Add">

    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jane Austen</td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Emily Dickinson</td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Fyodor Dostoevsky</td>
            <td><a href="#">View</a></td>
        </tr>
    </table>

</div>
</body>
</html>