<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authors_style.css' %}">
</head>

<body>

<div class="container">

    <form action="/authors/newauthor" method="post" class="formgrid">
        {% csrf_token %}
        <h2 class="cell1">Add an Author</h2>
        <label for="first_name" class="label1">First Name</label>
        <input class="input1" type="text" name="first_name" id="first_name" required>

        <label for="last_name" class="label2">Last Name</label>
        <input class="input2" type="text" name="last_name" id="last_name" required>

        <label for="notes" class="label3">Notes </label>
        <textarea class="input3" name="notes" id="notes" required></textarea>

        <input class="buttonadd" type="submit" value="Add">

    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        {% for author in authors%}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td><a href="/authors/{{author.id}}">View</a></td>
        </tr>
        {% endfor %}

    </table>

</div>
</body>
</html>