<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>

<body>

<div class=container>
    <h2>{{first_name}} {{last_name}}</h2>
    <p>ID : {{id}}</p>
    <div class="tag_text">
        <p class="tag">Notes:</p>
        <p class="description">{{notes}}
        </p>
    </div>

    <p>Books:</p>
    <div style="margin-left: 40px">
        <ul>
            {% if books|length > 0 %}
            {% for book in books %}
            <li>{{book.title}}</li>
            {% endfor %}
            {% else %}
            <li>None</li>
            {% endif %}
        </ul>
        <form action="/authors/addbook" method="post">
            {% csrf_token %}
            <input type="hidden" name="authorid" value="{{id}}">
            <select name="select" required>
                <option selected value="">-select a book-</option>
                {% for book in allbooks %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>

    </div>
</div>


</body>
</html>