<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>

<body>

<div class=container>
    <h2>{{title}}</h2>
    <p>ID : {{id}}</p>
    <div class="tag_text">
        <p class="tag">Description:</p>
        <p class="description">{{desc}}</p>
    </div>


    <p>Authors:</p>
    <div style="margin-left: 40px">
        <ul>

            {% if authors|length > 0 %}
            {% for author in authors %}
            <li>{{author.first_name}} {{author.last_name}}</li>
            {% endfor %}
            {% else %}
            <li>None</li>
            {% endif %}

        </ul>
        <form action="/books/addauthor" method="post">
            {% csrf_token %}
            <input type="hidden" name="bookid" value="{{id}}">
            <select name="select" required>
                <option selected value="">-select an author-</option>
                {% for author in allauthors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
</div>

</body>
</html>