<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>

<body>

<div class=container>
    <h2>PHP</h2>
    <p>ID : 4</p>
    <div class="tag_text">
        <p class="tag">Description:</p>
        <p class="description">description : Lorem ipsum dolor sit amet amet amet amet amet amet amet do
            Lorem ipsum dolor sit amet amet amet amet amet amet amet doLorem ipsum dolor sit amet amet amet amet amet
            amet
            amet doLorem ipsum dolor sit amet amet amet amet amet amet amet do Lorem ipsum dolor sit amet amet amet amet
            amet amet amet doLorem ipsum dolor sit amet amet amet amet amet amet amet doLorem ipsum dolor sit amet amet
            amet
            amet amet amet amet do
        </p>
    </div>


    <p>Authors:</p>
    <div style="margin-left: 40px">
        <ul>
            <li>Fyodor Dostoevsky</li>
            <li>Bill Shakespear</li>
        </ul>
        <form>
            <select name="select" required>
                <option selected value="">-select an author-</option>
                <option value="1">item1</option>
                <option value="2">item2</option>
            </select>
            <input type="submit" value="Add">
        </form>
    </div>
</div>


</body>
</html>