/*CSS reset settings here*/
* {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	width: 950px;
	background-color: silver;
	margin: 0px auto;
	padding: 20px;
}
#header {
	min-height: 150px;
	display: block;
	background-color: green;
	margin-bottom: 20px;
}
#navigation {
	margin-right: 20px;
	min-height: 300px;
	display: inline-block;
	width: 200px;
	background-color: blue;
}
#main_content {
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	min-height: 400px;
	width: 700px;
	background-color: red;
}
.subcontents {
	display: inline-block;
	min-height: 200px;
	margin: 5px;
	width: 210px;
	background-color: yellow;
}
#advertisement {
	min-height: 120px;
	width: 660px;
	margin: 20px 0px;
	background-color: purple;
}
